<!-- This website is not about isolating Angular components, made this basic and left in app.component -->
<header>
  <h1>Reactive State in Angular Components</h1>
  <nav>
    <ul>
      <li><a routerLink="rationale" routerLinkActive="active">Rationale</a></li>
      <li><a routerLink="signals" routerLinkActive="active">Signals</a></li>
      <li><a routerLink="http-resource" routerLinkActive="active">Http Resource</a></li>
      <li><a routerLink="references" routerLinkActive="active">References</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet />
</main>
